.author {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;

  background-color: $grey;
  box-shadow: 1px 1.7px 7px 0 rgba(0, 0, 0, 0.11);

  @media (min-width: 768px) {
    flex-direction: row;
    width: 750px;

    box-shadow: 1.4px 1.4px 7px 0 rgba(0, 0, 0, 0.11);
  }
}

.author__title {
  margin: 0;
  padding: 0;
}

.author__link {
  display: block;
  padding: 0 20px 0 20px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $main;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;

  @include font-bold;
  @include hover-active;

  @media (min-width: 768px) {
    margin: 30px 0 0 200px;
    padding: 0;
  }
}

.author__img {
  order: -1;
  margin: 30px 97px 30px 97px;

  border-radius: 50%;

  @media (min-width: 768px) {
    order: 10;
    margin: -132px 0 30px 40px;
  }
}

.author__contacts {
  width: 300px;

  @media (min-width: 768px) {
    width: 550px;
    margin: 0 0 0 195px;
  }
}

.author__email {
  display: block;
  padding: 0 20px 5px 20px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $main;
  text-decoration: none;
  font-style: normal;

  @include font-reg;
  @include hover-active;

  @media (min-width: 768px) {
    width: 300px;
    margin: -20px 0 0 240px;
    padding: 0 15px 0 0;

    text-align: right;
  }
}

.author__socials-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 20px 5px 20px;

  list-style: none;

  @media (min-width: 768px) {
    justify-content: flex-start;
    padding: 5px 20px 5px 0;
  }
}

.author__socials-link {
  display: block;
  width: 20px;
  height: 20px;

  &:hover,
  &:focus {
    svg {
      fill: $blue;
    }
  }

  &:active {
    svg {
      fill: $blue-active;
    }
  }
}

.author__socials-link svg {
  fill: #666666;
}

.author__text {
  margin: 0 10px 30px 10px;
  padding: 0;

  font-size: 14px;
  text-align: center;
  color: $main;

  ine-height: 21px;

  @media (min-width: 768px) {
    margin: 0 15px 30px 200px;

    text-align: left;
  }
}
