.page-header {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0 90px 0;

  @media (min-width: 1200px) {
    margin: 0 0 100px 0;
  }
}

.page-header__wrapper-title {
  width: 100%;
  min-height: 400px;

  background-image: url("../img/bg-1800.jpg");
  background-repeat: no-repeat;
  background-position: 38% 92%;
}

.page-header__title {
  width: 310px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 758px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }
}

.page-header__nav {
  margin: 0 auto;
}
