.page-main__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;

  @media (min-width: 1200px) {
    flex-direction: row;
    width: 1140px;
    margin: 0 auto;
    padding: 0;
  }
}

.page-main__aside-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto 102px auto;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 750px;
  }

  @media (min-width: 1200px) {
    flex-direction: column;
    justify-content: flex-start;
    width: 360px;
    margin: 27px auto 102px auto;
  }
}

.page-main__search {
  @media (min-width: 768px) {
    order: 4;
    box-sizing: border-box;
    width: 360px;
    height: 120px;
    margin: 57px 0 0 0;
  }

  @media (min-width: 1200px) {
    order: 1;
    margin: 0 0 40px 0;
  }
}

.page-main__tags {
  @media (min-width: 768px) {
    order: 1;
    width: 360px;
  }

  @media (min-width: 1200px) {
    order: 2;
    margin: 0 0 40px 0;
  }
}

.page-main__recent {
  @media (min-width: 768px) {
    order: 3;
    width: 360px;
  }

  @media (min-width: 1200px) {
    order: 3;
    margin: 0 0 40px 0;
  }
}

.page-main__categories {
  @media (min-width: 768px) {
    order: 2;
    width: 360px;
  }

  @media (min-width: 1200px) {
    order: 4;
    margin: 0 0 40px 0;
  }
}

.page-main__main-form {
  margin: 0 auto;
}
