body {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;

  font-size: 16px;
  line-height: 26px;
  color: $dark-grey;

  @include font-reg;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
