.slick-next {
  right: 0;

  width: 120px;
  height: 50px;
  padding: 0 10px 0 10px;

  font-size: 16px;
  line-height: 18px;
  color: $main;

  border-left: 1px solid #b3b3b3;

  @include font-reg;
  @include hover-active;

  &::before {
    display: none;
  }
}

.slick-prev {
  left: 0;

  width: 130px;
  height: 50px;
  padding: 0 10px 0 10px;

  font-size: 16px;
  line-height: 18px;
  color: $main;

  border-right: 1px solid #b3b3b3;

  @include font-reg;
  @include hover-active;

  &::before {
    display: none;
  }
}

.slick-dots li button::before {
  font-size: 25px;

  @media (min-width: 768px) {
    font-size: 35px;
  }
}
